<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mai.tcm.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.mai.tcm.model.News" >
    <constructor >
      <idArg column="newsID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="targetType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="targetParameter" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="abstracts" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="createPersonID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createPersonName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sortNO" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mai.tcm.model.News" >
    <constructor >
      <idArg column="newsID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="targetType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="targetParameter" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="abstracts" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="createPersonID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createPersonName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sortNO" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    newsID, targetType, targetParameter, abstracts, status, createTime, createPersonID, 
    createPersonName, title, sortNO
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mai.tcm.model.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mai.tcm.model.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where newsID = #{newsID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from news
    where newsID = #{newsID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mai.tcm.model.NewsExample" >
    delete from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mai.tcm.model.News" >
    insert into news (newsID, targetType, targetParameter, 
      abstracts, status, createTime, 
      createPersonID, createPersonName, title, 
      sortNO, content)
    values (#{newsID,jdbcType=VARCHAR}, #{targetType,jdbcType=INTEGER}, #{targetParameter,jdbcType=VARCHAR}, 
      #{abstracts,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{createPersonID,jdbcType=VARCHAR}, #{createPersonName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{sortNO,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mai.tcm.model.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsID != null" >
        newsID,
      </if>
      <if test="targetType != null" >
        targetType,
      </if>
      <if test="targetParameter != null" >
        targetParameter,
      </if>
      <if test="abstracts != null" >
        abstracts,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="createPersonID != null" >
        createPersonID,
      </if>
      <if test="createPersonName != null" >
        createPersonName,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sortNO != null" >
        sortNO,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsID != null" >
        #{newsID,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetParameter != null" >
        #{targetParameter,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        #{abstracts,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createPersonID != null" >
        #{createPersonID,jdbcType=VARCHAR},
      </if>
      <if test="createPersonName != null" >
        #{createPersonName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sortNO != null" >
        #{sortNO,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mai.tcm.model.NewsExample" resultType="java.lang.Integer" >
    select count(*) from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update news
    <set >
      <if test="record.newsID != null" >
        newsID = #{record.newsID,jdbcType=VARCHAR},
      </if>
      <if test="record.targetType != null" >
        targetType = #{record.targetType,jdbcType=INTEGER},
      </if>
      <if test="record.targetParameter != null" >
        targetParameter = #{record.targetParameter,jdbcType=VARCHAR},
      </if>
      <if test="record.abstracts != null" >
        abstracts = #{record.abstracts,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.createPersonID != null" >
        createPersonID = #{record.createPersonID,jdbcType=VARCHAR},
      </if>
      <if test="record.createPersonName != null" >
        createPersonName = #{record.createPersonName,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNO != null" >
        sortNO = #{record.sortNO,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update news
    set newsID = #{record.newsID,jdbcType=VARCHAR},
      targetType = #{record.targetType,jdbcType=INTEGER},
      targetParameter = #{record.targetParameter,jdbcType=VARCHAR},
      abstracts = #{record.abstracts,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=BIGINT},
      createPersonID = #{record.createPersonID,jdbcType=VARCHAR},
      createPersonName = #{record.createPersonName,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      sortNO = #{record.sortNO,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update news
    set newsID = #{record.newsID,jdbcType=VARCHAR},
      targetType = #{record.targetType,jdbcType=INTEGER},
      targetParameter = #{record.targetParameter,jdbcType=VARCHAR},
      abstracts = #{record.abstracts,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=BIGINT},
      createPersonID = #{record.createPersonID,jdbcType=VARCHAR},
      createPersonName = #{record.createPersonName,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      sortNO = #{record.sortNO,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mai.tcm.model.News" >
    update news
    <set >
      <if test="targetType != null" >
        targetType = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetParameter != null" >
        targetParameter = #{targetParameter,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        abstracts = #{abstracts,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createPersonID != null" >
        createPersonID = #{createPersonID,jdbcType=VARCHAR},
      </if>
      <if test="createPersonName != null" >
        createPersonName = #{createPersonName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sortNO != null" >
        sortNO = #{sortNO,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where newsID = #{newsID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mai.tcm.model.News" >
    update news
    set targetType = #{targetType,jdbcType=INTEGER},
      targetParameter = #{targetParameter,jdbcType=VARCHAR},
      abstracts = #{abstracts,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      createPersonID = #{createPersonID,jdbcType=VARCHAR},
      createPersonName = #{createPersonName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sortNO = #{sortNO,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where newsID = #{newsID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mai.tcm.model.News" >
    update news
    set targetType = #{targetType,jdbcType=INTEGER},
      targetParameter = #{targetParameter,jdbcType=VARCHAR},
      abstracts = #{abstracts,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      createPersonID = #{createPersonID,jdbcType=VARCHAR},
      createPersonName = #{createPersonName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sortNO = #{sortNO,jdbcType=INTEGER}
    where newsID = #{newsID,jdbcType=VARCHAR}
  </update>

    <!--自定义-->
    <sql id="Base_Column_VO_List">
        newsID,title,abstracts,content,targetType,targetParameter,sortNO,status,createTime,
        FROM_UNIXTIME(createTime/1000,'%Y-%m-%d %H:%i') as showCreateTime
    </sql>
    <sql id="Base_Column_DTO_List">
        newsID,title,targetParameter as jumpURL,sortNO
    </sql>
    <select id="selectByNewsListVoAndPage" parameterType="com.mai.tcm.vo.web.NewsListVo"
            resultType="com.mai.tcm.vo.web.NewsListVo">
        select <include refid="Base_Column_VO_List"></include> from news
        <where>
            <choose>
                <when test="status != null">status=#{status}</when>
                <otherwise>
                    status &gt; -1
                </otherwise>
            </choose>
            <if test="title!=null"> and title LIKE "%"#{title}"%"</if>
        </where>
        ORDER BY sortNO DESC, createTime DESC
    </select>

    <select id="selectByNewsListDtoAndPage" parameterType="com.mai.tcm.vo.web.NewsListDto"
            resultType="com.mai.tcm.vo.web.NewsListDto">
        select <include refid="Base_Column_DTO_List"></include> from news
        <where>
            status = 1
        </where>
        ORDER BY sortNO DESC, createTime DESC
    </select>
</mapper>